TOKEN='5570953935:AXJ3wHr45c1nNGSLnwJgt7Vpkup0bip1GN9'

SQLITE_PATH='telegram-bot.sqlite'

POLL_TIME='21 14 */1 * *'
POLL_LANG='en'
ADMIN_ID=849670500

VALUE_SMALL_PERCENT='30'
VALUE_HIGH_PERCENT='130'

UNNAMED='匿名的'

RATING_LIMIT='20'

PUBLIC_POLLS_CHAT_ID='-1001963275218'
PUBLIC_POLLS_CHAT_NAME='Lifebox_Public'
